.forgot-password-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    gap: 10px;
    input:not([type="submit"]) {
      @include defaultInput;
      border: 1px solid rgba(0, 0, 0, 0.5);
      padding-left: 10px;
      width: 100%;
    }

    input[type="submit"] {
      @include defaultBtn;
      width: 150px;
      background-color: var(--accent);
    }
  }
}
