.footer-container {
  width: 100%;
  padding: 50px 50px 0 50px;
  background-color: #ca2929;
  height: 350px;
  display: flex;
  flex-direction: column;
  > div {
    display: flex;
    justify-content: space-evenly;
    img {
      width: 250px;
      cursor: pointer;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 5px;
      li {
        cursor: pointer;
        font-weight: bold;
        &:hover {
          color: white;
        }
        span {
          display: inline-block;
          height: 50px;
          width: 50px;
        }
        &:first-child span {
          background: url("../images/social-media/facebook.svg") no-repeat;
          background-size: 100% 100%;
        }
        &:nth-child(2) span {
          background: url("../images/social-media/twitter.svg") no-repeat;
          background-size: 100% 100%;
        }
        &:nth-child(3) span {
          background: url("../images/social-media/instagram.svg") no-repeat;
          background-size: 100% 100%;
        }
        &:nth-child(4) span {
          background: url("../images/social-media/tiktok.svg") no-repeat;
          background-size: 100% 100%;
        }
      }
    }
    div {
      width: 400px;
      font-size: 14px;
      text-align: center;
    }
  }
  & > .copyright {
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: var(--primary);
    height: 20px;
  }
}

@media screen and (max-width: 800px) {
  .footer-container {
    height: auto;
    > div:not(.copyright) {
      flex-direction: column;
      align-items: center;
      gap: 20px;
      padding-bottom: 50px;
      img {
        width: 150px;
      }

      ul {
        align-items: center;
        font-size: 1.25em;
      }
    }
  }
}
